.header {
  height: 60px;
  flex-shrink: 0;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .title {
  color: #3399FF;
  text-transform: uppercase;
}