* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffffdd;
  background-color: #242424;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100svh;
}